version: 2
updates:
  - package-ecosystem: "gomod"
    directory: "/"
    schedule:
      interval: "daily"
    target-branch: "develop"
    labels:
      - "dependencies"
  - package-ecosystem: "devcontainers"
    directory: "/"
    schedule:
      interval: weekly
